<ion-content>
  <div class="div-header div-conten-general-padding-left-right div-conten-padding-top-general">
    <ion-item lines="none" class="imtem-header-general">
      <ion-button mode="ios" class="btn-header-general" href="/home"><ion-img src="assets/img/icon-left-header.svg"></ion-img></ion-button>
      <ion-label class="color-17-size-24 font-bold">
        <h1>Registro de paquetes<br>Guia n°: <span class="color-azul-span">00012- 1231241</span></h1>
      </ion-label>
    </ion-item>
    <p class="color-17-size-15 font-bold margin-bottom-cero margin-top-23 texto-padding-24-header">Destinatario</p>
    <p class="margin-bottom-cero color-17-size-16 font-regular margin-top-8 texto-padding-24-header">Juan Jose Gonzales Henriquez</p>
    <p class="margin-bottom-cero color-17-size-16 font-regular margin-top-8 texto-padding-24-header">DNI: 43215674</p>
    <p class="color-azul-size-16 font-regular margin-top-8 margin-bottom-cero texto-padding-24-header">Nombre del destino</p>
  </div>
  <div class="div-conten-general-padding-left-right div-clanco-form margin-bottom-14">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center margin-bottom-6">
        <ion-col size="10" class="col-padding-left-right-form">
          <ion-item lines="none" mode="ios" class="item-form-general">
            <ion-select placeholder="Tipo" mode="ios">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="icon-select"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="ion-text-center col-padding-left-right-form">
          <ion-button mode="ios" class="btn-transparen-qr ion-no-padding"><ion-img src="assets/img/qr.svg"></ion-img></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="margin-bottom-6">
        <ion-col size="6" class="col-padding-left-right-form">
          <ion-item lines="none" mode="ios" class="item-form-general">
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero">Peso</ion-button> 
            <ion-input value="0" type="number" class="ion-text-center input-marign-left-right"></ion-input>
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero">Kg</ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="col-padding-left-right-form">
          <ion-item lines="none" mode="ios" class="item-form-general">
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero"><ion-icon name="remove"></ion-icon></ion-button> 
            <ion-input type="number" class="ion-text-center input-marign-left-right input-opacidad-placeholder" placeholder="cant"></ion-input>
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero"><ion-icon name="add"></ion-icon></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="margin-bottom-6">
        <ion-col size="12" class="col-padding-left-right-form">
          <div class="div-flex-radios">
            <p class="margin-bottom-cero margin-top-cero color-17-size-15 font-regular margin-right-15">Pesado por:</p>
            <ion-item lines="none" class="item-radios margin-right-30">
              <ion-radio mode="md"></ion-radio>
              <ion-label class="color-17-size-15 font-regular">cliente</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-radios">
              <ion-radio mode="md"></ion-radio>
              <ion-label class="color-17-size-15 font-regular">Chofer</ion-label>
            </ion-item>                        
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-conten-general-padding-left-right div-clanco-form margin-bottom-14">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center margin-bottom-6">
        <ion-col size="10" class="col-padding-left-right-form">
          <ion-item lines="none" mode="ios" class="item-form-general">
            <ion-select placeholder="Tipo" mode="ios">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="icon-select"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="ion-text-center col-padding-left-right-form">
          <ion-button mode="ios" class="btn-transparen-qr ion-no-padding"><ion-img src="assets/img/qr.svg"></ion-img></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="margin-bottom-6">
        <ion-col size="6" class="col-padding-left-right-form">
          <ion-item lines="none" mode="ios" class="item-form-general">
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero">Peso</ion-button> 
            <ion-input value="0" type="number" class="ion-text-center input-marign-left-right"></ion-input>
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero">Kg</ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="col-padding-left-right-form">
          <ion-item lines="none" mode="ios" class="item-form-general">
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero"><ion-icon name="remove"></ion-icon></ion-button> 
            <ion-input type="number" class="ion-text-center input-marign-left-right input-opacidad-placeholder" placeholder="cant"></ion-input>
            <ion-button mode="ios" class="btn-peso-kg ion-no-padding margin-cero"><ion-icon name="add"></ion-icon></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="margin-bottom-6">
        <ion-col size="12" class="col-padding-left-right-form">
          <div class="div-flex-radios">
            <p class="margin-bottom-cero margin-top-cero color-17-size-15 font-regular margin-right-15">Pesado por:</p>
            <ion-item lines="none" class="item-radios margin-right-30">
              <ion-radio mode="md"></ion-radio>
              <ion-label class="color-17-size-15 font-regular">cliente</ion-label>
            </ion-item>
            <ion-item lines="none" class="item-radios">
              <ion-radio mode="md"></ion-radio>
              <ion-label class="color-17-size-15 font-regular">Chofer</ion-label>
            </ion-item>                        
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-conten-general-padding-left-right div-conten-padding-bottom">
    <ion-button mode="ios" class="btn-agregar-doc ion-no-padding">
      <ion-img src="assets/img/icon-add-circle.svg"></ion-img>
      Agregar documento
    </ion-button>
    <ion-button mode="ios" class="btn-amarrillo-general margin-cero btn-widht-completo btn-margin-top" href="/documentos-cargados">
       Finalizar carga
    </ion-button>
  </div>
  
</ion-content>
