<ion-content [fullscreen]="true">
  <div class="div-header-guias">
    <ion-button mode="ios" class="btn-circle-header-blanco ion-no-padding" href="/home"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </div>
  <div class="div-header div-conten-general-padding-left-right">
    <ion-item lines="none" class="imtem-header-general">
      <!--
      <ion-button mode="ios" class="btn-header-general" href="/home"><ion-img src="assets/img/icon-left-header.svg"></ion-img></ion-button>
      -->
      <ion-label class="color-17-size-24 font-bold" style="padding-left: 0px;">
        <h1>Nombre de empresa S.A.C</h1>
      </ion-label>
    </ion-item>
    <p class="margin-cero font-regular color-17-size-18">Guias de remisión (9) paquetes (552)</p>
    <ion-grid class="ion-no-padding margin-top-45">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-accordion-group>
            <ion-accordion value="first" toggleIcon="chevron-down-outline" toggleIconSlot="end" class="acordion-guia">
              <ion-item slot="header" lines="none" class="item-acordeon">
                <ion-label>
                  <a class="color-azul-size-15 font-regular margin-right-20" href="/gui-emision-transportista">0001- 989876</a>
                  <span class="color-17-size-15 font-regular margin-right-20">13 paq.</span>
                  <span class="color-17-size-15 font-regular">Cusco</span>
                </ion-label>
              </ion-item>
              <div class="ion-no-padding" slot="content">
                <div class="margin-bottom-14">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Peso total: <span class="font-regular color-17-size-13 margin-left-6">202 kg</span></p>
                </div>
                <div class="margin-bottom-14">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Destinatario</p>
                  <p class="margin-bottom-cero margin-top-8 font-regular color-17-size-13">Juan Jose Gonzales Henriquez</p>
                  <p class="margin-bottom-cero margin-top-6 font-regular color-17-size-13">DNI: 43215674</p>
                </div>
                <div class="margin-bottom-22">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Comentario</p>
                  <p class="margin-bottom-cero margin-top-8 font-regular color-17-size-13">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.
                  </p>
                </div>
              </div>
            </ion-accordion>
            <ion-accordion value="second" toggleIcon="chevron-down-outline" toggleIconSlot="end" class="acordion-guia">
              <ion-item slot="header" lines="none" class="item-acordeon">
                <ion-label>
                  <a class="color-azul-size-15 font-regular margin-right-20" href="/gui-emision-transportista">0001- 989876</a>
                  <span class="color-17-size-15 font-regular margin-right-20">13 paq.</span>
                  <span class="color-17-size-15 font-regular">Cusco</span>
                </ion-label>
              </ion-item>
              <div class="ion-no-padding" slot="content">
                <div class="margin-bottom-14">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Peso total: <span class="font-regular color-17-size-13 margin-left-6">202 kg</span></p>
                </div>
                <div class="margin-bottom-14">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Destinatario</p>
                  <p class="margin-bottom-cero margin-top-8 font-regular color-17-size-13">Juan Jose Gonzales Henriquez</p>
                  <p class="margin-bottom-cero margin-top-6 font-regular color-17-size-13">DNI: 43215674</p>
                </div>
                <div class="margin-bottom-22">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Comentario</p>
                  <p class="margin-bottom-cero margin-top-8 font-regular color-17-size-13">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.
                  </p>
                </div>
              </div>
            </ion-accordion>
            <ion-accordion value="third" toggleIcon="chevron-down-outline" toggleIconSlot="end" class="acordion-guia">
              <ion-item slot="header" lines="none" class="item-acordeon">
                <ion-label>
                  <a class="color-azul-size-15 font-regular margin-right-20" href="/gui-emision-transportista">0001- 989876</a>
                  <span class="color-17-size-15 font-regular margin-right-20">13 paq.</span>
                  <span class="color-17-size-15 font-regular">Cusco</span>
                </ion-label>
              </ion-item>
              <div class="ion-no-padding" slot="content">
                <div class="margin-bottom-14">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Peso total: <span class="font-regular color-17-size-13 margin-left-6">202 kg</span></p>
                </div>
                <div class="margin-bottom-14">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Destinatario</p>
                  <p class="margin-bottom-cero margin-top-8 font-regular color-17-size-13">Juan Jose Gonzales Henriquez</p>
                  <p class="margin-bottom-cero margin-top-6 font-regular color-17-size-13">DNI: 43215674</p>
                </div>
                <div class="margin-bottom-22">
                  <p class="color-17-size-14 font-bold margin-bottom-cero">Comentario</p>
                  <p class="margin-bottom-cero margin-top-8 font-regular color-17-size-13">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.
                  </p>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
