<ion-content class="conten-login">
  <ion-card mode="ios" class="card-login">
    <ion-img src="assets/img/card-login.png" alt="img-carga"></ion-img>
  </ion-card>
  <div class="div-conten-login">
    <ion-card class="card-circle-abajo">
      <ion-img src="assets/img/icon-abajo.svg" alt="icon-abajo"></ion-img>
    </ion-card>
    <h1 class="ion-text-center font-medium color-ff-size-20 margin-top-26">Log in de usuario</h1>
    <ion-item lines="none" mode="ios" class="item-login margin-top-26">
      <ion-img src="assets/img/icon-camion-blanco.svg" alt="icon-cambion-blanco"></ion-img>
      <ion-input placeholder="Placa de la unidad" type="text"></ion-input>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-login">
      <ion-img src="assets/img/icon-persona-blanco.svg" alt="icon-persona-blanco"></ion-img>
      <ion-input placeholder="Licencia de conducir" type="number"></ion-input>
    </ion-item>
    <ion-item lines="none" mode="ios" class="item-login">
      <ion-img src="assets/img/icon-candago-blanco.svg" alt="icon-candago-blanco"></ion-img>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>
    <p class="ion-text-center margin-top-45"><a class="color-ff-size-14 font-light ">Olvidaste tu contraseña?</a></p>
    <p class="ion-text-center color-ff-size-14 font-medium">Pide reposición de contraseña</p>
    <ion-button mode="ios" class="btn-ingresar-login" href="/home">Ingresar</ion-button>
  </div>
</ion-content>
