<ion-content>
  <div class="div-header div-conten-general-padding-left-right div-conten-padding-top-general div-conten-padding-bottom-list">
    <ion-item lines="none" class="imtem-header-general">
      <!--
      <ion-button mode="ios" class="btn-header-general" href="/home"><ion-img src="assets/img/icon-left-header.svg"></ion-img></ion-button>
      -->
      <ion-label class="color-17-size-24 font-bold">
        <h1>Paquetes cargados</h1>
      </ion-label>
    </ion-item>
    <h6 class="margin-cero font-bold color-17-size-18 texto-padding-8-header">Alicorp</h6>
    <p class="margin-cero font-regular color-17-size-18 texto-padding-8-header">Hora de inicio: 08:30</p>
    <ion-grid class="ion-no-padding margin-top-45">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios" class="item-center-flx">
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Juan Jose Gonzales Henriquez</h1>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-8">DNI: 43215674</p>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-8">Guia n°: 00012- 1231241</p>
                <p class="color-azul-size-16 font-regular margin-top-8 margin-bottom-cero">
                  <span class="margin-right-15">Peso: 24kg</span>  <span>cant:2</span>
                </p>
              </ion-label>
              <div>
                <div>
                  <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-cero" href="/cargar-paquete">
                    <ion-img src="assets/img/icon-edit.svg"></ion-img>
                  </ion-button>
                </div>
                <div class="margin-top-8">
                  <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-cero" href="/cargar-documento">
                    <ion-img src="assets/img/icono-documentos.svg"></ion-img>
                  </ion-button>
                </div>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios" class="item-center-flx">
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Juan Jose Gonzales Henriquez</h1>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-8">DNI: 43215674</p>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-8">Guia n°: 00012- 1231241</p>
                <p class="color-azul-size-16 font-regular margin-top-8 margin-bottom-cero">
                  <span class="margin-right-15">Peso: 24kg</span>  <span>cant:2</span>
                </p>
              </ion-label>
              <div>
                <div>
                  <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-cero" href="/cargar-paquete">
                    <ion-img src="assets/img/icon-edit.svg"></ion-img>
                  </ion-button>
                </div>
                <div class="margin-top-8">
                  <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-cero" href="/cargar-documento">
                    <ion-img src="assets/img/icono-documentos.svg"></ion-img>
                  </ion-button>
                </div>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios" class="item-center-flx">
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Juan Jose Gonzales Henriquez</h1>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-8">DNI: 43215674</p>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-8">Guia n°: 00012- 1231241</p>
                <p class="color-azul-size-16 font-regular margin-top-8 margin-bottom-cero">
                  <span class="margin-right-15">Peso: 24kg</span>  <span>cant:2</span>
                </p>
              </ion-label>
              <div>
                <div>
                  <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-cero" href="/cargar-paquete">
                    <ion-img src="assets/img/icon-edit.svg"></ion-img>
                  </ion-button>
                </div>
                <div class="margin-top-8">
                  <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-cero" href="/cargar-documento">
                    <ion-img src="assets/img/icono-documentos.svg"></ion-img>
                  </ion-button>
                </div>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-button mode="ios" class="btn-footer-completo" href="/lista-recojos">Finalizar carga</ion-button>
  
</ion-content>
