<ion-content>
  <div class="div-conten-general-padding-left-right div-conten-padding-top-botom-recojo">
    <h1 class="ion-text-center color-17-size-24 font-bold margin-top-cero margin-bottom-cero">Registro de paquetes a carga</h1>
    <h6 class="ion-text-center color-17-size-18 font-bold margin-bottom-cero margin-top-23">Nombre de empresa S.A.C</h6>
    <p class="ion-text-center color-17-size-18 font-regular margin-bottom-cero margin-top-10">Hora de inicio: 08:30</p>
    <ion-img src="assets/img/caja.png" class="img-cajon"></ion-img>
    <p class="ion-text-center color-17-size-18 font-light">
      Todavia no tienes ningún paquete cargado
    </p>
  </div>

  <div class="div-footer">
    <ion-button mode="ios" class="btn-amarrillo-general margin-cero btn-widht-completo" href="/cargar-paquete">
      <ion-img src="assets/img/icon-cargar-paquetes.svg" class="margin-right-8"></ion-img> Cargar paquetes
    </ion-button>
    <ion-button mode="ios" class="btn-amarrillo-general btn-widht-completo btn-margin-cargar-cero" href="/cargar-documento">
      <ion-img src="assets/img/icon-qr.svg" class="margin-right-8"></ion-img> Cargar nuevo documento
    </ion-button>
  </div>
</ion-content>
