.div-conten-padding-top-botom-recojo{
    padding-top: 5rem;
}
.img-cajon::part(image){
    mix-blend-mode: multiply !important;
}
.img-cajon{
    width: 75%;
    margin: 0 auto;
    margin-top: 4rem !important;
}
.btn-margin-cargar-cero{
    margin: 0px;
    margin-top: 0.5rem !important;
}