.div-popover-guia{
    right: 1.75rem;
    width: 85%;
    bottom: -9rem;
}
.div-header-guias-margin-bottom{
    margin-bottom: 6.6875rem;
}
.div-qr-fondo{
    background-color: #D8D8D8;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    .card-qr{
        width: 60%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 0px;
        height: 13rem;
        margin-top: -9rem !important;
    }
}

.btn-margin-top-modal{
    margin-top: 7rem !important;
}