<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <div class="div-conten-general-padding-left-right div-padding-top-home">
    <h1 class="ion-text-center color-17-size-15 font-regular margin-bottom-cero margin-top-cero">Lunes, 05/06/2023</h1>
    <h2 class="ion-text-center color-17-size-24 font-bold margin-bottom-cero">Programación</h2>
    <p class="ion-text-center color-17-size-18 font-regular">Realizados 2/8</p>
    <ion-progress-bar [value]="progress" type="determinate"></ion-progress-bar>
    <h3 class="margin-top-35 h3-flex-center-azul color-azul-size-23 font-bold margin-bottom-22"><ion-img src="assets/img/icon-reloj.svg"></ion-img> Recojos pendientes</h3>
    <p class="color-azul-size-13 font-bold margin-top-cero">Próximo recojo:</p>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios">
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Nombre de empresa S.A.C</h1>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-10">Esta es la dirección del cliente 1234Santiago de Surco, LIma.</p>
              </ion-label>
              <div>
                <p class="ion-text-end margin-top-cero margin-bottom-cero color-17-size-18 font-regular">08:30</p>
                <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-top-10">
                  <ion-img src="assets/img/icon-trivapsor.svg"></ion-img>
                </ion-button>
              </div>
            </ion-item>
            <ion-button mode="ios" class="btn-amarrillo-general margin-top-14" href="/empezar-recojo">
              Iniciar recojo
            </ion-button>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios">
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Nombre de empresa S.A.C</h1>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-10">Esta es la dirección del cliente 1234Santiago de Surco, LIma.</p>
              </ion-label>
              <div>
                <p class="ion-text-end margin-top-cero margin-bottom-cero color-17-size-18 font-regular">08:30</p>
                <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-top-10">
                  <ion-img src="assets/img/icon-trivapsor.svg"></ion-img>
                </ion-button>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios">
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Nombre de empresa S.A.C</h1>
                <p class="margin-bottom-cero color-17-size-18 font-regular margin-top-10">Esta es la dirección del cliente 1234Santiago de Surco, LIma.</p>
              </ion-label>
              <div>
                <p class="ion-text-end margin-top-cero margin-bottom-cero color-17-size-18 font-regular">08:30</p>
                <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-top-10">
                  <ion-img src="assets/img/icon-trivapsor.svg"></ion-img>
                </ion-button>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <p class="color-17-size-18 font-light margin-bottom-cero">Todos tus recojos programados para este turno están terminados. ¡Buen trabajo!</p>
          <ion-button mode="ios" class="btn-amarrillo-general margin-top-14 font-bold">Reportar cierre</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h3 class="margin-top-35 h3-flex-center-azul color-azul-size-23 font-bold margin-bottom-cero"><ion-img src="assets/img/icon-reloj.svg"></ion-img> Recojos realizados</h3>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios">
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Nombre de empresa S.A.C</h1>
                <p class="margin-bottom-cero font-regular margin-top-10">
                  <span class="color-47-size-18 margin-right-15">15 Paquetes</span>
                  <span class="color-17-size-18">08:30 - 08:51</span>
                </p>
              </ion-label>
              <div>
                <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-top-10" href="/lista-gui-emision">
                  <ion-img src="assets/img/icon-list.svg"></ion-img>
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </ion-button>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios">
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Nombre de empresa S.A.C</h1>
                <p class="margin-bottom-cero font-regular margin-top-10">
                  <span class="color-47-size-18 margin-right-15">15 Paquetes</span>
                  <span class="color-17-size-18">08:30 - 08:51</span>
                </p>
              </ion-label>
              <div>
                <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-top-10">
                  <ion-img src="assets/img/icon-list.svg"></ion-img>
                </ion-button>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <ion-card mode="ios" class="card-list-proceso">
            <ion-item lines="none" mode="ios">
              <ion-label class="margin-bottom-cero margin-top-cero">
                <h1 class="margin-top-cero margin-bottom-cero color-17-size-18 font-bold">Nombre de empresa S.A.C</h1>
                <p class="margin-bottom-cero font-regular margin-top-10">
                  <span class="color-rojo-size-18 margin-right-15"><ion-icon name="close-circle-outline"></ion-icon> Cancelado</span>
                  <span class="color-17-size-18">08:30 - 08:51</span>
                </p>
              </ion-label>
              <div>
                <ion-button mode="ios" class="btn-trivapsor ion-no-padding margin-top-10">
                  <ion-img src="assets/img/icon-list.svg"></ion-img>
                </ion-button>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
